

<div class="main-container">
  <div class="container">
    <div class="logo">
      <!-- <img src="./assets/images/logo.png" alt=""> -->
      <a routerLink="/"><img src="./assets/images/logo2.png" alt=""></a>
      <h1>Welcome <span>F</span>riend</h1>
      <p>Be a member of the voluntech family</p>
    </div>
    <form class="form-wrapper" [formGroup]="loginForm" (ngSubmit)="submit()">
      <h2>Lo<span>g</span>in</h2>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>User Type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="volunteer">Volunteer</mat-option>
          <mat-option value="company">Company</mat-option>
        </mat-select>

      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input  matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
        <mat-error *ngIf="email?.errors?.['email']">Email format is incorrect</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <mat-error *ngIf="password?.errors?.['required']">password is required</mat-error>
        <mat-error *ngIf="password?.errors?.['minlength']">Email must be at least 8 characters</mat-error>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="password?.errors?.['required']">password is required</mat-error>
        <mat-error *ngIf="password?.errors?.['minlength']">Email must be at least 8 characters</mat-error>
      </mat-form-field> -->
      <button type="submit" mat-raised-button color="primary">Login</button>
      <p class="sign-in">or <a routerLink="/register"><span>Create Account</span></a></p>
    </form>
  </div>
</div>
<div class="overlay">
</div>





