<div class="container" >
  <mat-card class="card" *ngFor="let activity of activities">
    <div class="heading">
      <img [src]="activity.photoUrl??'./assets/images/default.png'" alt="">
      <mat-card-header>
        <mat-card-title>{{activity.name}}</mat-card-title>
        <mat-card-subtitle>Event</mat-card-subtitle>
      </mat-card-header>
    </div>
    <mat-card-content>
      <p class="desc">
        {{activity.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="{{activity.id}}">detail</a>
      <button mat-button>Applay</button>
      <!-- <button mat-button (click) ="detail('{{activity.id}}')">Details</button> -->
    </mat-card-actions>
  </mat-card>
</div>
<div class="overlay"></div>
