.container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 100px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      position: absolute;
      top: 20px;
      left: 40px;
    }
    p{

      font-family: 'Lora';
      font-style: normal;
      // font-weight: 700;

      line-height: 46px;
    }
  }
}
.main-container{
  width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;


  h1{
    font-size: 25px;
    margin-bottom: 50px;
    span{
      font-size: 30px;
      font-weight: bold;
      color:#FE6E00;
      font-size: 35px;
    }
    .first{
      color: #FDA807;
    }
  }
  form{
    // width: 50%;
    display: flex;
    display: flex;
    align-items: center;
    padding: 100px;
    padding-bottom: 30px;
    padding-top: 70px;
    // min-width: 150px;
    // max-width: 500px;
    width: 100%;
    flex-direction: column;
    mat-form-field{
      margin-bottom: 20px;
      width: 100%;
    }
    button{
      width: 100%;
    }
    button{
      background-color: #FE6E00;
    }
    .sign-in{
      padding-top: 50px;
      margin: 0px;
      span{
        color:#FE6E00 ;
        font-weight: 700;
      }
    }
  }
}

.full-width {
  width: 100%;
}
.overlay{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  // background-color: rgba(26, 235, 182, 0.9);
  background-color: #FDA807;
}
