<div class="main-container">
  <div class="container">
    <div class="logo">
      <a routerLink="/"><img src="./assets/images/logo.png" alt=""></a>
      <h1>Welcome <span>F</span>riend</h1>
      <p>Be a member of the voluntech family</p>
      <!-- <img src="./assets/images/logo.png" alt=""> -->
    </div>
    <form class="form-wrapper" [formGroup]="registerForm" (ngSubmit)="submit()">
      <h1><span class="first">C</span>ompany <span>R</span>egistration</h1>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
        <mat-error *ngIf="email?.errors?.['email']">Email format is incorrect</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName">
        <!-- <mat-error *ngIf="companyName?.errors?.['required']">Email is required</mat-error>
        <mat-error *ngIf="companyName?.errors?.['minlength']">companyName must be at least 3 characters</mat-error>
        <mat-error *ngIf="companyName?.errors?.['maxlength']">companyName must be no more than 12 characters</mat-error> -->
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Company Type</mat-label>
        <mat-select  formControlName="companyType">
          <mat-option value="NGO">NGO</mat-option>
          <mat-option value="Government">Government</mat-option>
          <mat-option value="Religious">Religious</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="password?.errors?.['required']">password is required</mat-error>
        <mat-error *ngIf="password?.errors?.['minlength']">Email must be at least 8 characters</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="!registerForm.valid">Create Account</button>
      <p class="sign-in">Alreade have account? <a routerLink="/login"><span>Sign in</span></a></p>
    </form>
  </div>
</div>
<div class="overlay">
</div>
