.mat {
  color: black;
  // width: 100%;
  // font-size: 150px;
}
button{
  background-color: #FE6E00 !important;
}
// header{
//   margin: 0px;
// }


.landing {
  // background-color: #2d2e37;

  width: 100%;
  height: 800px;
  .container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    height: 100%;
    @media(max-width:768px){
      &{
        grid-template-columns: 1fr;
        padding: 50px;
      }
    }
    // align-items: center;
    // align-items: center;

    .pofile-img {
      position: relative;
      display: flex;
      // align-items: center;
      .mat{
        transform: translate(-40%, 62%);
        font-size: 200px;
        width: 200px;
        height: 200px;
        // color: rgba(255, 255, 255, 0.2);
        color: rgba(0, 0, 0, 0.2);
      }
      .background-img {
        padding-left: 50px;
        @media(max-width:768px){
          &{
            padding-left: 20px;
          }
        }
        img {
          // position: absolute;
          transform: translate(0, 0);
          z-index: 2;
          width: 70%;
          height: 450px;
          padding: 0px;
          border: 4px solid orange;
          @media(max-width:768px){
            &{
              width: 100%;
              height: 400px;
            }
          }
        }
      }
    }
    .company-info {
      position: relative;
      display: flex;
      align-items: center;
      .info {
        padding: 50px 0px;
        max-width: 75%;
        margin-top: 40px;
        // height: 400px;
        color: black;
        @media(max-width:768px){
          &{
            max-width: 100%;

          }
        }
        h1 {
          font-family: Lora;
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 46px;
          margin-bottom: 30px;
        }
        .description {
          font-family: "Lora";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 60px;
        }
        .btn{
          display: flex;
          justify-content: space-between;
          @media(max-width:768px){
            &{
              flex-direction: column;
              button{
                margin-bottom:  15px;
              }
            }
          }
        }
        button{
          cursor: pointer;
          color: white;
          padding: 10px 20px;
          border-color: transparent;
          background-color: #FE6E00;
          text-transform: capitalize;
          font-size: 16px;
          margin-right: 20px;
        }

        .contact{
          display: flex;
          margin-top: 40px;
          gap: 40px;
          .phone{
            position: relative;
            &::after{
              content: "";
              position: absolute;
              background-color:rgba(0, 0, 0, 0.2);;
              right: -20px;
              top: 0px;
              width: 2px;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
