<header>
    <div class="logo">
      <a href="#"><img src="./assets/images/logo.png" alt="logo"></a>
    </div>
    <nav>
      <ul class="nav-list">
        <a href="#"><li class="item">home</li></a>
        <a href="#"><li class="item">add activity</li></a>
        <a href="#"><li class="item">activity</li></a>
        <a href="#"><li class="item">edit profile</li></a>
        <a href="#"><li class="item">about</li></a>
        <a href="#"><li class="item">contact us</li></a>
      </ul>
    </nav>
    <div class="icon">
      <ul class="icon-list">
        <a href="#"><li class="item">icone</li></a>
        <a href="#"><li class="item">icone</li></a>
        <a href="#"><li class="item">icone</li></a>
        <a href="#"></a>
      </ul>
  </div>
</header>
<section>

</section>
<div class="landing">
  <!-- <img src="./assets/images/landing.webp" alt=""> -->
  <!-- <img src="./assets/images/landing.jpg" alt=""> -->
  <img src="./assets/images/team.jpg" alt="">
</div>

