mat-icon {
  color: black;
  // width: 100%;
  // font-size: 150px;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.2);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  nav {
    .nav-list {
      .item {
        text-decoration: none;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
  ul {
    .item {
      padding-left: 25px;
      color: white;
    }
  }

  a {
    text-transform: capitalize;
  }
}
.landing {
  // background-color: #2d2e37;
  width: 100%;
  height: 800px;
  .container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 100%;
    @media(max-width:768px){
      &{
        grid-template-columns: 1fr;
        padding: 50px;
      }
    }
    // align-items: center;
    // align-items: center;

    .pofile-img {
      position: relative;
      display: flex;
      align-items: center;
      mat-icon {
        transform: translate(-40%, 62%);
        font-size: 200px;
        width: 200px;
        height: 200px;
        // color: rgba(255, 255, 255, 0.2);
        color: rgba(0, 0, 0, 0.2);
      }
      .background-img {
        padding-left: 50px;
        @media(max-width:768px){
          &{
            padding-left: 20px;
          }
        }
        img {
          // position: absolute;
          transform: translate(0, 0);
          z-index: 2;
          width: 80%;
          height: 500px;
          @media(max-width:768px){
            &{
              width: 100%;
              height: 400px;
            }
          }
        }
      }
    }
    .company-info {
      position: relative;
      display: flex;
      align-items: center;
      .info {
        padding: 50px 0px;
        max-width: 75%;
        // height: 400px;
        color: black;
        // position: absolute;
        // top: 220px;
        h1 {
          font-family: Lora;
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 46px;
          margin-bottom: 30px;
        }
        .description {
          font-family: "Lora";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 60px;
        }
        .btn{
          display: flex;
          justify-content: space-between;
        }
        button{
          color: white;
          padding: 10px 20px;
          border-color: transparent;
          background-color: #01BC9A !important;
          text-transform: capitalize;
          font-size: 16px;
          margin-right: 20px;
        }
      }
    }
  }
}
