<div class="form-container" *ngIf="authService.userState$ | async as user">


  <section>

  </section>
  <div class="landing">
    <div class="container">
      <div class="pofile-img">
        <!-- <div class="shape">

          </div> -->
        <div class="background-img">
          <mat-icon class="mat" aria-hidden="false" aria-label="Example home icon" fontIcon="apps"></mat-icon>
          <img [src]="user.photoURL??'./assets/images/profile.jpg'" alt="">
          <button mat-mini-fab (click)="inputFile.click()"><mat-icon>edit</mat-icon></button>
          <input type="file" #inputFile accept="image/*" hidden value="select image" (change)="submit($event)">
        </div>
      </div>
      <div class="company-info">
        <div class="info">
          <h1>{{companyName|uppercase}}</h1>
          <h2 class="heading">VolunteerMatch matches inspired people with inspiring causes.</h2>
          <p class="description">this is non-governmental organizations, play a major role in international development.
          </p>
          <p>company type : {{companyType|uppercase}}</p>
          <div class="btn">
            <button (click)="createProfile()">new activity</button>
            <button (click)="activities()">your activities</button>

            <button (click)="editProfile()">edit profile</button>
          </div>


          <div class="contact">
            <p class="phone" *ngIf="phone">Phone : {{phone}}</p>
            <p>Email : {{email}}</p>
          </div>
          <p *ngIf="url">URL: {{url}}</p>
        </div>
      </div>
    </div>
    <!-- <img src="./assets/images/landing.webp" alt=""> -->
    <!-- <img src="./assets/images/landing.jpg" alt=""> -->
    <!-- <img src="./assets/images/team.jpg" alt=""> -->
  </div>
</div>
