header {
  // position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  // background: rgba(0, 0, 0, 0.2);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo img{
      width: 90px;
      height: 80px;
    }
    .nav-list{
      padding: 3px;
      padding-right: 20px;
      border-right: 2px solid black;
      @media(max-width:768px){
        &{
          display: none;
        }
      }
      .item {
        text-decoration: none;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        padding-left: 20px;
        color: white;
        a{
          position: relative;
          padding-bottom: 8px;
          color: black;
          &::before{
            content: "";
            bottom: 0px;
            left: 0px;
            position: absolute;
            background-color: #01BC9A;
            width: 0;
            height: 4px;
            transition:ease all .3s;
          }
        }
        a:hover {
          &::before{
            width: 100%;
          }
        }
      }
    }
    .icon{
      @media(max-width:768px){
        &{
          display: none;
        }
      }
    }

    .menu{
      display: none;
      @media(max-width:768px){
        &{
          font-size: 32px;
          display: flex;
        }
      }
    }
  }


  a {
    text-transform: capitalize;
  }
}
