.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 0px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-3 a {
  color: white;
  position: relative;
  transition: all .45s ease-Out;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #BFC0C0;
  background: #1AEBB6;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

#button-3:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

// #button-3:hover a {
//   color: #2D3142;
// }
.btn{
  border-color:#3f51b5;
  border-color:white;
  color: white;
}
header{
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
.container{
    display: flex;
    nav{
      padding: 20px;
      .nav-list{
        .item{
          margin-left: 10px;
        }
      }
    }
  }
}
.landing {
  background: url("./../../../assets/images/team.jpg") no-repeat,#2d2e37;
  background-size: cover;
  width: 100%;
  height: 800px;
}
