.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 0px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 60px;
}

#button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;

}

#button-3 a {
  color: black;
  position: relative;
  transition: all .45s ease-Out;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register{
  margin-right: 20px;
  border-color: #FDA807;

}
#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #BFC0C0;
  background: #FDA807;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

#button-3:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

// #button-3:hover a {
//   color: #2D3142;
// }
.btn{
  border-color:#3f51b5;
  border-color:white;
  color: white;
}
header{
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  // background: rgba(0, 0, 0, 0.4);
.container{
    display: flex;
    align-items: center;
    nav{
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo{
        flex: 0;
        a{

          &::before{
            content: none;
          }
        }
        img{
          margin-bottom: 11px;
        }
      }
      .nav-item{
        flex: 1;

        .item:first-of-type{
          margin-left: 90px;
        }
        .item{
          // padding-bottom: 10px;
          margin-left: 30px;
          a{
            color: black;
            padding: 10px 0px;
            position: relative;
          }
        }
      }
      .nav-list{
        a{

          &::before{
            content: none;
          }
        }
        .item{

          margin-left: 10px;
        }
      }
    }
  }
}
.landing {
  background: url("./../../../assets/images/team.jpg") no-repeat,#2d2e37;
  background: url("./../../../assets/images/profile2.jpg") no-repeat,#2d2e37;
  background-size: cover;
  width: 100%;
  height: 800px;
  position: relative;
  .content {
    max-width: 530px;
    position: absolute;
    top: 45%;
    // left: 10%;
    bottom: 70px;
    color: black;
    .main-text {
      position: relative;
      h1 {
        // @include Edit-font();
        color: black;
      }
      // @include screen-size("mobile") {
      //   h1 {
      //     font-size: 28px;
      //     line-height: 36px;
      //   }
      // }

      .text {
        display: flex;
        margin-top: 13px;
        .date {
          // @include Edit-font("Lora", 400, 12px, 15px);
          color: black;
        }
        p {
          position: relative;
          // @include Edit-font("Lora", 400, 12px, 20px);
          color: black;
          margin-left: 50px;
          &::before {
            content: "";
            top: 8px;
            left: -40px;
            position: absolute;
            background-color: #FDA807;
            width: 30px;
            height: 4px;
          }
        }
      }
      //slide polite
      .sliderBullet {
        display: flex;
        list-style: none;
        margin-top: 62px;
        // @include screen-size("mobile") {
        //   margin-top: 27px;
        // }
        li::after {
          content: "";
          display: block;
          // @include slider("not");
        }

        //active polite
        li.active {
          // @include slider("active");
        }
      }

      //this is the adventure words on upper the h1(landing content)
      &::after {
        content: "adventure";
        position: absolute;
        top: -50px;
        left: 0px;
        padding: 6px 10px;
        background: #FDA807;
        color: white;
        border-radius: 8px;
        text-transform: uppercase;
        // @include Edit-font("Roboto", 400, 10px, 12px);
      }
    }
  }
}
