
<header>
  <div class="container">
    <div class="logo">
      <a routerLink="/landing"><img src="./assets/images/logo3.png" alt=""></a>
      <!-- <a routerLink="/landing"><img src="./assets/images/logo2.png" alt=""></a> -->


    </div>
    <nav>
      <ul class="nav-list">
        <li class="item"></li>
        <li class="item"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="apps"></mat-icon></li>
        <!-- <li class="item"><button class="btn" mat-stroked-button color="primary">Login</button></li>
        <li class="item"><button mat-flat-button color="primary">register</button></li>
        <li><button mat-raised-button class="mat-elevation-z0">BUTTON</button></li> -->
        <li><div class="button" id="button-3">
          <div id="circle"></div>
          <a routerLink="/login">Login</a>
        </div></li>
        <li><div class="button" id="button-3">
          <div id="circle"></div>
          <a routerLink="/register">register</a>
        </div></li>
      </ul>
    </nav>
  </div>
</header>
<div class="landing">
</div>

