
<div class="form-container">

  <aside>
    <div class="background">
      <div class="wrapper">
        <h1>Edit Profile</h1>
        <!-- <h2>welcome </h2> -->
        <!-- <button class="button" type="butoon" (click)="back()">back</button> -->
        <div class="button logout-btn" id="button-3">
          <div id="circle"></div>
          <button type="button" class="btn" (click)="back()">back</button>
          <!-- <a routerLink="/">Logout</a> -->
        </div>
      </div>
    </div>
  </aside>
  <form [formGroup]="profileInfo" (ngSubmit)="saveForm()">

      <mat-form-field appearance="fill">
        <mat-label>companyName</mat-label>
        <input formControlName="companyName" matInput>
        <mat-error *ngIf="companyName?.errors?.['required']">Company Name is required</mat-error>
        <mat-error *ngIf="companyName?.errors?.['maxlength']">The name must be no more 20 characters</mat-error>
        <mat-error *ngIf="companyName?.errors?.['minlength']">The name must be at least 3 characters</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone">
        <mat-error *ngIf="phone?.errors?.['required']">Phone is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
        <mat-error *ngIf="email?.errors?.['email']">Email format is incorrect</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Website URL</mat-label>
        <input matInput formControlName="url">
      </mat-form-field>
      <mat-form-field appearance="fill" >
        <mat-label>Company Type</mat-label>
        <mat-select formControlName="companyType">
          <mat-option value="NGO">NGO</mat-option>
          <mat-option value="Government">Government</mat-option>
          <mat-option value="Religious">Religious</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button type="submit" [disabled]="!profileInfo.valid">Save</button>
      <!-- <button type="submit" [disabled]="!profileInfo.valid">save</button> -->

  </form>
</div>
<div class="overlay">
</div>

