
<form [formGroup]="profileInfo" (ngSubmit)="saveForm()">
  <div class="container">

    
    <mat-form-field appearance="fill">
      <mat-label>companyName</mat-label>
      <input formControlName="companyName" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Website URL</mat-label>
      <input matInput formControlName="url">
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>Company Type</mat-label>
      <mat-select formControlName="companyType">
        <mat-option value="NGO">NGO</mat-option>
        <mat-option value="Government">Government</mat-option>
        <mat-option value="Religious">Religious</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="btn">
      <button type="submit">save</button>
      <button type="butoon" (click)="back()">back</button>
    </div>

  </div>
</form>
