.form-container{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  background-color: white;
  margin: 50px;


  h2{
    margin-left: 70px;
  }

  position: relative;
  aside{
    padding: 40px;
    position: relative;
    .background{
      .wrapper{
        color: white;
        text-transform: uppercase;
        // height: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        // justify-content: center;
        // align-items: center;
        background-color: #FDA807 ;
        position: relative;
        padding: 50px;
        #button-3 {
          margin-left: 0px;
        }

      }
      // padding: 40px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #FDA807 ;
      z-index: 0;
  }

  }

  form{
    padding: 50px;
    display: grid;
    mat-form-field{
      margin: 20px;
    }
    button{
      margin: 20px;
    }
  }
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #E5E5E5 ;
  z-index: -2;
}
#circle{
  background-color: #FE6E00 ;
}
.button{
  margin-top: 10px;
  background-color: white !important;
  color: black;
  width: 240px;

}



.pofile-img {
  position: relative;
  display: flex;
  // align-items: center;
  .background-img {
    padding-left: 50px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 200px;
    height: 200px;
    transform: translate(-100px,0px);
    @media(max-width:768px){
      &{
        padding-left: 20px;
      }
    }
    button{
      transform: translate(135px, -15px);
    }
    img {
      // position: absolute;
      transform: translate(0, 0);
      z-index: 2;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 5px solid orange;
      padding: 3px;
      @media(max-width:768px){
        &{
          width: 100%;
          height: 400px;
        }
      }
    }
  }
}
