
<section>


  <div class="form-container" *ngIf="authService.userState$ | async as user">


<!-- <p *ngIf="profile">{{profile.lastName}}</p> -->
    <aside>
      <div class="background">
        <div class="wrapper">
          <h1>Edit Profile</h1>
          <div class="button logout-btn" id="button-3">
            <div id="circle"></div>
            <button class="btn" (click)="back()">Back</button>
          </div>
        </div>
      </div>>
    </aside>

    <!-- <div class="edit">
      <img src="" alt="">
      <button>complete your profile</button>
    </div> -->
    <div class="info">
      <h2>Account information</h2>
      <div class="pofile-img">
        <!-- <div class="shape">
          </div> -->
        <div class="background-img">
          <img [src]="user.photoURL??'./assets/images/profile.jpg'" alt="">
          <button mat-mini-fab (click)="inputFile.click()"><mat-icon>edit</mat-icon></button>
          <input type="file" #inputFile accept="image/*" hidden value="select image" (change)="changePic($event)">
        </div>
      </div>

      <form [formGroup]="profileInfo" (ngSubmit)="submit()">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>skills</mat-label>
          <input matInput formControlName="skills">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>experiences</mat-label>
          <input matInput formControlName="experiences">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>city</mat-label>
          <input matInput formControlName="city">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input formGroupName="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <!-- <mat-form-field appearance="fill">
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field> -->

        <!-- <mat-form-field appearance="fill">
          <mat-label>Textarea</mat-label>
          <textarea matInput></textarea>
        </mat-form-field> -->

        <button type="submit">save</button>
      </form>
    </div>
  </div>
</section>
