
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$voluntech-primary: mat.define-palette(mat.$indigo-palette);
$voluntech-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$voluntech-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$voluntech-theme: mat.define-light-theme((
  color: (
    primary: $voluntech-primary,
    accent: $voluntech-accent,
    warn: $voluntech-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($voluntech-theme);

/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  padding: 0px 15px;
  margin: 0px auto;
  // background-color: red;
  .logo {
    flex: 1;
    a{
      &::before{
        content: none;
      }
    }
    img {
      width: 120px;
      height: 110px;
    }
  }
}
@media (min-width:768px){
  .container{
    width: 750px;
  }
}
@media (min-width:992px){
  .container{
    width: 970px;
  }
}
@media (min-width:1200px){
  .container{
    width: 1170px;
  }
}
ul{
  display: flex;
  list-style: none;
}
a{
  text-decoration: none;
  // position: relative;
  // background-color: #FE6E00;
  &::before{
    content: "";
    bottom: 0px;
    left: 0px;
    position: absolute;
    background-color: #FE6E00;
    width: 0;
    height: 4px;
    transition:ease all .3s;
  }
  &:hover {
    &::before{
      width: 100%;
    }
  }
}

html, body { height: 100%; }
body {  margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        background-color: #E5E5E5;
    }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a{
  color: white;
}
button{
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  border-color: transparent;
  background-color: #FE6E00 ;
  text-transform: capitalize;
  font-size: 16px;
  margin-right: 20px;
}
